#appointmentsItemContainer{
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ededed50;
}

#appointmentsItemContainer #mainContent{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

#appointmentsItemContainer #mainContent:hover{
    cursor: pointer;
}

#appointmentsItemContainer #mainContent #title{
    width: 50%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

#appointmentsItemContainer #mainContent #startDateShort{
    width: 40%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}