#appointmentsItemContainer{
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ededed50;
}

#appointmentsItemContainer #mainContent{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

#appointmentsItemContainer #mainContent:hover{
    cursor: pointer;
}

#appointmentsItemContainer #mainContent #title{
    width: 50%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

#appointmentsItemContainer #mainContent #startDateShort{
    width: 40%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

#appointmentsItemContainer #mainContent #showHideButton{
    width: calc(10% - 10px); 
    margin: 0 10px 0 0;
    padding: 0;
    display: block;
    float: left;
    text-align: center;
}

#appointmentsItemContainer #showableContent{
    width: 500px;
    min-height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background: #323232;
    box-shadow: 0px 0px 0px 100000px #ffffff80;
    z-index: 100;
}

#appointmentsItemContainer #showableContent #closeButton{
    display: block;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#appointmentsItemContainer #showableContent #closeButton input{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    font-size: 20px;
    background-color: #0000004f;
    color: #ededed;
    border: 1px solid #cccccc4f;
    padding: 0;
    line-height: 24px;
}

#appointmentsItemContainer #showableContent #closeButton input:focus{
    outline: none;
}

#appointmentsItemContainer #showableContent .showableContentArea{
    width: calc(95% - 1px);
    padding: 1% 2.5%;
    display: block;
    float: left;
    overflow: hidden;
}

#appointmentsItemContainer #showableContent .showableContentArea p{
    text-align: left;
    margin: 5px 0;
    padding: 0;
    font-size: 16px;
}

#appointmentsItemContainer #showableContent .showableContentArea input, select{
    width: 95%;
    padding: 4px 8px;
    font-size: 14px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #ededed;
    color: #323232;
    border-style: solid;
    border-radius: 5px;
    box-sizing:content-box;
}

#appointmentsItemContainer #showableContent .showableContentArea input:focus{
    outline:none;
}

#appointmentsItemContainer #showableContent .showableContentArea select:focus{
    outline:none;
}

#appointmentsItemContainer #showableContent .showableContentArea input:disabled{
    opacity: 0.5;
}

#appointmentsItemContainer #showableContent .showableContentArea select:disabled{
    opacity: 0.5;
}

#appointmentsItemContainer #showableContent #buttons{
    display: block;
    overflow: hidden;
    margin: 20px auto;
    padding: 0 2.5%;
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#appointmentsItemContainer #showableContent #buttons input{
    width: 120px;
    margin: 10px 5px;
    display: block;
    float: left;
    box-sizing:content-box;
    padding: 4px 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #ededed;
    color: #323232;
    border-style: solid;
    border-radius: 5px;
}

#appointmentsItemContainer #showableContent #buttons input:last-child{
    border-color: #961e1e;
    background-color: #da2828;
    color: #ededed;
}

#appointmentsItemContainer #showableContent #buttons input:focus{
    outline: none;
}

#appointmentsItemContainer #showableContent #buttons input:disabled{
    opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    #appointmentsItemContainer #showableContent{
        width: 100%;
        min-height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: unset;
        top: calc(50% - 150px);
        left: calc(50% - 250px);
        background: #323232;
        z-index: 60;
    }

    #appointmentsItemContainer #showableContent{
        width: 500px;
        min-height: 400px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 20px;
        left: calc(50% - 250px);
        background: #323232;
        box-shadow: 0px 0px 20px #565656;
        z-index: 60;
    }
}