#customerPanel{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ededed;
}

#customerPanel a{
    text-decoration: none;
    color: #ededed;
}

#customerPanel #customerPanelContent{
    overflow: hidden;
}

#customerPanel .customerPanelBlock{
    width: 42.5%;
    height: calc(42.5vh - 25px);
    overflow: hidden;
    background: #323232;
    display: block;
    float: left;
    box-shadow: 0px 10px 20px #565656;
}

#customerPanel .left{
    margin-left: 5%;
    margin-right: 2.5%;
    text-align: left;
}

#customerPanel .right{
    margin-left: 2.5%;
    margin-right: 5%;
    text-align: right;
}

#customerPanel .top{
    margin-top: 5vh;
    margin-bottom: 2.5vh;
}

#customerPanel .bottom{
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}

#customerPanel .customerPanelBlock .blockTopic{
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 1px solid #ededed;
}

#customerPanel .customerPanelBlock .blockTopic h2{
    text-transform: uppercase;
    margin: 10px;
    padding: 0;
}

#customerPanel .customerPanelBlock #loadingText{
    width: calc(100% - 20px);
    padding: 10px;
}

#customerPanel .customerPanelBlock #loadingText p{
    width: 100%;
    margin: 0;
    padding: 0;
}

#customerPanel .customerPanelBlock #listContainer{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#customerPanel .customerPanelBlock #listContainer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#customerPanel .customerPanelBlock #listContainer ul li{
    margin: 0;
    padding: 0;
    width: 100%;
}

#circle{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #565656;
    z-index: 50;
}

#circle #lineOne{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -10px;
    content: ' ';
    height: 120px;
    width: 20px;
    background-color: #FF5656;
    box-shadow: 0px 0px 20px #565656;
}

#circle #lineTwo{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -10px;
    content: ' ';
    height: 120px;
    width: 20px;
    background-color: #FF5656;
    box-shadow: 0px 0px 20px #565656;
}

#circle #lineTwo {
    transform: rotate(90deg);
}

#circle #square{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -10px;
    content: ' ';
    height: 120px;
    width: 20px;
    background-color: #FF5656;
}

@media only screen and (max-width: 1000px) {
    #customerPanel .customerPanelBlock{
        width: 90%;
        height: auto;
        min-height: calc(90vh - 25px);
    }
    
    #customerPanel .left{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    
    #customerPanel .right{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    
    #customerPanel .top{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    #customerPanel .bottom{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #customerPanel .customerPanelBlock .blockTopic{
        display: block;
    }

    #circle{
        display: none;
    }
  }