#doctorPanel{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ededed;
}

#doctorPanel a{
    text-decoration: none;
    color: #ededed;
}

#doctorPanel #doctorPanelContent{
    overflow: hidden;
}

#doctorPanel #doctorPanelContent #loadingText{
    width: calc(100% - 20px);
    padding: 10px;
}

#doctorPanel #doctorPanelContent #loadingText p{
    width: 100%;
    margin: 0;
    padding: 0;
}

#doctorPanel #doctorPanelContent #listContainer{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#doctorPanel #doctorPanelContent #listContainer #noVisits{
    width: 100%;
    padding: 1% 2.5%;
    margin: 0;
}

#doctorPanel #doctorPanelContent #listContainer #noVisits p{
    font-size: 20px;
}

#doctorPanel #doctorPanelContent #listContainer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#doctorPanel #doctorPanelContent #listContainer ul li{
    margin: 0;
    padding: 0;
    width: 100%;
}

#doctorPanel #doctorPanelContent #listContainer #pageCounter{
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#doctorPanel #doctorPanelContent #listContainer #pageCounter .pgElement{
    width: 33%;
    height: 30px;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#doctorPanel .doctorPanelBlock{
    width: 42.5%;
    height: calc(42.5vh - 25px);
    overflow: hidden;
    background: #323232;
    display: block;
    float: left;
    box-shadow: 0px 10px 20px #565656;
}

#doctorPanel .left{
    margin-left: 5%;
    margin-right: 2.5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: left;
    height: calc(90vh - 50px);
}

#doctorPanel .right{
    margin-left: 2.5%;
    margin-right: 5%;
    text-align: right;
}

#doctorPanel .top{
    margin-top: 5vh;
    margin-bottom: 2.5vh;
}

#doctorPanel .bottom{
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}

#doctorPanel .doctorPanelBlock .blockTopic{
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 1px solid #ededed;
}

#doctorPanel .doctorPanelBlock .blockTopic h2{
    text-transform: uppercase;
    margin: 10px;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    #doctorPanel .doctorPanelBlock{
        width: 90%;
        height: auto;
        min-height: calc(90vh - 25px);
    }
    
    #doctorPanel .left{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    
    #doctorPanel .right{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    
    #doctorPanel .top{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    #doctorPanel .bottom{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #doctorPanel .doctorPanelBlock .blockTopic{
        display: block;
    }
  }